extends ../layouts/default

block main
  h1= title

block content
  table.mt-3.w-100
    thead
      tr
        th.border.text-center.font-weight-bold Name
        th.border.text-center.font-weight-bold Email
        th.border.text-center.font-weight-bold Action
    tbody
      each admin, index in admins
        tr
          th.border.text-center.font-weight-normal 
            a(href=`/cms/admins/${admin.id}`)=admin.name
            - if (admin.id === req.user.id)
              span.text-success &nbsp;(you)
          th.border.text-center.font-weight-normal #{admin.email}
          th.border.text-center
            i.text-success.fa.fa-edit
            i.ml-2.text-danger.fa.fa-trash

  - if (pages > 1)
    ul.pagination
      - var arr = paginate({ currentPage: page, totalPages: pages })
      each item in arr
        li.page-item(class=item.isActive && item.type === 'PAGE' && 'active')
          a.page-link(href=`?page=${item.value}`)
            case item.type
              when 'FIRST_PAGE_LINK': | First
              when 'PREVIOUS_PAGE_LINK': | Previous
              when 'PAGE': =item.value
              when 'ELLIPSIS': | ...
              when 'NEXT_PAGE_LINK': | Next
              when 'LAST_PAGE_LINK': | Last
